body {
    font-family: Poppins;
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url(img/developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
}

.hero-area {
    height: 500px;
}


/*Hero area left side content style*/

.left-content {
    width: 50%;
    float: left;
    margin-top: 30px;
}

.hero-h1 {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
}

.hero-h1sd {
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    margin-top: -40px;
}

.hero-h1s {
    color: orange;
}

.hero-h4 {
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: -10px;
}

.hero-btn {
    padding: 8px 30px;
    text-transform: uppercase;
    background: orange;
    color: white;
    font-family: 'Poppins';
    border: 0px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.hero-btn:hover {
    background: black;
}


/*Hero area right side content style*/

.right-content {
    float: right;
    width: 50%;
}

.hero-img {
    width: 100%;
    overflow: hidden;
}


/*Dream area style*/

.dream-area {
    height: 500px;
    margin-top: 100px;
}

.dleft-content {
    width: 45%;
    float: left;
}

.gream-img {
    width: 100%;
}

.dright-content {
    width: 45%;
    float: right;
}

.d-h1 {
    text-transform: capitalize;
    font-size: 35px;
    font-weight: 500;
    margin-top: 70px;
    margin-bottom: -10px;
}

.d-h4 {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -20px;
}